:root {
	--spotify-green: #1db954;
}

* {
	margin: auto;
	box-sizing: border-box;
	text-align: center;
	color: white;
	font-family: Proxima Nova;
}

body {
	background-color: black;
}

h1,
h2,
h3 {
	margin: 1%
}

.colHeader {
	font-size: 1.5rem;
	margin-bottom: 2.5%;
}

.artists {
	text-align: left;
	font-size: 18px;
}

.artists img {
	vertical-align: top;
	margin: 0 !important;
	/* padding: 1% !important; */
	/* max-width: 50%; */
}

ul .recommendationArtists {
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;
}

/* 
ul {
	list-style: none;
	margin: 0;
	padding: 0;
} */

.recommendationArtists img {
	vertical-align: top;
}

button {
	font-size: 18px;
	background-color: var(--spotify-green);
	border: none;
}

#generate {
	padding: 2.5%;
}


#init {
	padding: .5% 1% .5% 1%;
	margin: 1%;
}

.num {
	text-align: center;
	font-size: 200%;
	display: block;
}

.authorizationLink {
	/* -webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none; */
	color: var(--spotify-green)
}

.authorizationLink:visited {
	/* display: none; */
	/* background-color: grey; */
	color: darkgrey;
}

/* FLEXBOX */
.flex-grid {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.col {
	flex: 1;
}

@media (max-width: 600px) {
	.flex-grid {
		flex-direction: column;
	}
}

.flex-grid-thirds {
	display: flex;
	justify-content: space-between;
}

.flex-grid-thirds .col {
	width: 33%;
}