:root {
  --spotify-green: #1DB954
}

a {
  color: var(--spotify-green);
}

* {
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  padding: 1%;
  color: white;
  font-family: Proxima Nova;
}

body {
  background-color: black;
}

button {
  background-color: var(--spotify-green);
  margin: 1%;
  border: none
}

/* 
li {
  text-align: left;
  margin-left: 10%;
  list-style: none;
} */

.artist-names {
  text-align: left;
  max-width: 70%;
  font-size: 18px;
  /* margin-left: 50%; */
}

/* FLEXBOX */
.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 32%;
}