:root {
	--spotify-green: #1db954;
}

a {
	color: var(--spotify-green);
}

* {
	margin: auto;
	box-sizing: border-box;
	text-align: center;
	padding: 1%;
	color: white;
	font-family: Proxima Nova;
}

body {
	background-color: black;
}

button {
	background-color: var(--spotify-green);
	margin: 1%;
	border: none;
}

.colHeader {
	font-size: 1.5rem;
}

.artists {
	text-align: left;
	/* max-width: 50%; */
	font-size: 18px;
}

#generate {
	font-size: 18px;
}

/* FLEXBOX */
.flex-grid {
	display: flex;
	flex-direction: row;
}

.col {
	flex: 1;
}

@media (max-width: 600px) {
	.flex-grid {
		flex-direction: column;
	}
}

.flex-grid-thirds {
	display: flex;
	justify-content: space-between;
}

.flex-grid-thirds .col {
	width: 33%;
}
